.flash-box
.wrapper
  = render 'shared/chat-side'
  .chat-main
    .main-header
      .main-header__current-group{"data-group_id": "334"}
        %h2.current-group__name グループ１
        %ul.member-list
          Member：
          %li.member-list__member taro
          %li.member-list__member jiro
          %li.member-list__member sabu
          %li.member-list__member shiro
      %a{href: "/groups/334/edit"}
        .main-header__edit-btn Edit
    .messages
      = render @messages
    .form
      = render 'form'
