  .chat-side {
    width: 300px;
    color: $white-text;
    float: left;
    &__side-header {
      background-color: $chat-side-bg;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__user-menu {
        display: flex;
        & li {
          margin-left: 0.3rem;
          .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            .fa-edit:before, .fa-pencil-square-o:before {
              content: "\f044";
            }
            .fa-gear:before, .fa-cog:before {
              content: "\f013";
            }
          }
        }
      }
    }
    &__groups {
      height: calc(100vh - 100px);
      background-color: lighten( $chat-side-bg, 5% );
      padding: 20px 20px 0;
      overflow: scroll;
      .group {
        margin-bottom: 40px;
        &__group-name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__latest-message {
          font-size: 11px;
        }
      }
    }
  }

