@import "color";
.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    &__current-group {
      font-size: 20px;
      color: $character;
      margin-top: 35px;
      .member-list {
        display: flex;
        margin-top: 15px;
        font-size: 12px;
        color:  lighten( $character, 40% );
        & li+li {
          margin-left: 0.3rem;
        }
      }
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $button;
      color: $button;
    }
  }
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: lighten( $chat-main-bg, 11.5%);
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        &__user {
            color: lighten( $character, 9% );
            font-size: 16px;
            font-weight: bold;
        }
        &__date {
            color: lighten( $character, 40% );
            font-size: 12px;
            margin-left: 10px;
        }
      }
      &__text {
        color: lighten( $character, 9% );
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: $chat-main-bg;
    .new-message {
      display: flex;
      &__input-box {
        position: relative;
        width: 100%;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        &__image-label {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__input {
            display: none;
            .fa-photo:before, .fa-image:before, .fa-picture-o:before {
                content: "\f03e";
            }
          }
        }
      }
      &__submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $button;
        color: $white-text;
        cursor: pointer;
      }
    }
  }
}
